@model MVC_Project_Orange.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<hr />
<div class="d-flex justify-content-center">

    <div class="col-lg-6 ">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Edit Category</strong>
            </div>
            <div class="card-body">
                <!-- Edit Card -->
                <div id="pay-invoice">
                    <div class="card-body">

                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CategoryID" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group has-success">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group" hidden>
                                <label asp-for="ImgURL" class="control-label"></label>
                                <input asp-for="ImgURL" class="form-control" />
                                <span asp-validation-for="ImgURL" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                         
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Create</span>
                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->

</div>

